dotenv

for f in .env.local; do
  test -f $f && dotenv $f
done

layout ruby

if has lorri; then
  eval "$(lorri direnv)"
elif has nix-env; then
  use nix
else
  echo "No nix, this will suck!"
fi

export VAGRANT_DEFAULT_PROVIDER=virtualbox
