layout ruby

_dotenv() {
  local file=$1

  test -e $file && dotenv $file
}

if has nix-env; then
  use nix
fi

_dotenv .env
_dotenv .env.local

export VVV_SKIP_LOGO=1
export VAGRANT_DEFAULT_PROVIDER=virtualbox
